/* In your perrosContainer.css or a global CSS file */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body, button, p, div, span, a, h1, h2, h3, h4, h5, h6, input, label, td,th {
  font-family: 'Poppins', sans-serif;
}


.bg_header {
    background-color: #88BFBA;
}

.redondeo {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bg_buscador {
    background-color: #D8F2F0;
}

.bg_nuevomed {
    background-color: #04BFAD;
}